.aboutpage__hero{
    max-width: 100vw;
    height: 80vh;
    background:linear-gradient(rgba(225, 225, 225, 0.5),rgba(11, 6, 78, 0.8)), url('../../assets/pexels-artem-podrez-5025670.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
}


.aboutpage__header{
    text-align: center;
    color: var(--secondary-color);
}
.aboutpage__header span{
    padding: 1px 2px;
    color: var(--secondary-color);
    background-color:var(--primary-color);
    margin: 30px 0;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    display: inline-block;
}

.aboutpage__header h1{
    font-size: 40px;
    color: var(--secondary-color);
    padding-bottom: 20px;
    width: 200px;
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    margin :0 auto;

}
.aboutpage__header h1::before{
    content: "";
    display: flex;
    border-bottom: 4px solid var(--secondary-color) ;
    width: 80px;
    position: absolute;
    right:-75px;
    bottom: 40px;
}
.aboutpage__header h1::after{
    content: "";
    display: flex;
    border-bottom: 4px solid var(--secondary-color) ;
    width: 80px;
    position: absolute;
    left:-75px;
    bottom: 40px;
}
.aboutpage__header p{
    font-size: 20px;
    font-family: "Alata",sans-serif;
    width: 55%;
    margin: 0 auto;
}
.mid{
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 60px auto;

}
.mid__text{
    flex-basis: 50%;
}
.mid__text h1, .mission__text h1{
    font-family: "Poppins",sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
    padding-bottom: 25px;
}
.mid__text p, .mission__text p{
    font-size: 18px;
    color: var(--secondary-color);
    font-family: 'Alata',sans-serif;
    line-height: 1.6;
}
.mid__image{
    flex-basis: 50%;
}
.mid__image img{
    width: 100%;
    height: 100%;
}
.mission{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.mission__image{
    flex-basis: 50%;
    filter:brightness(0.5);
}
.mission__image video{
    width: 100%;
    height: 100%;
}
.mission__text{
    flex-basis: 50%;
    padding-top: 40px;
}
.mission__text span{
    padding: 15px 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: 'Poppins',sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}

.history{
    margin-bottom: 80px;
}
.history a{
    padding: 15px 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    display: inline-block;
    margin: 20px 0;
    box-shadow: -15px 20px 8px rgba(0, 0, 0, 0.8);
    transition: 0.5s ease-in;
}
.history a:hover{
    box-shadow: 0px 3px 10px rgba(0,0,0, 0.2);

}
@media only screen and (max-width:1250px){
    .mission, .mid{
        padding: 0 30px;
    }
}

@media only screen and (max-width:900px){
    .mission__text h1, .mid__text h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .mission__text p, .mid__text p{
        font-size: 16px;
    }
    .aboutpage__header p{
        font-size: 16px;
        width: 90%;
        
    }

    .mission, .mid{
        padding: 0 20px;
    }
}
@media only screen and (max-width:600px){
    .mission{
        flex-direction: column-reverse;
    }
    .mid, .history{
        flex-direction: column;
    }
    .aboutpage__header h1{
        font-size: 32px;
    }
    
}