.loader-wrapper{
    background-color: #050000b6;
    max-width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    display: grid;
    place-content: center;
    z-index: 10;
}
.loader{
    z-index: 20;
    max-width: 100px;
}
.loader img{
    width: 100%;
    height: 100%;

}

@media only screen and (max-width:900px){
    .loader{
        max-width: 100px;
    }
}