.service__heading{
    text-align: center;
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.service__heading span{
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: inline-block;
    margin-bottom: 20px;
}
.service__heading h1{
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    color: var(--secondary-color);
    position: relative;
    width: 280px;
    margin: 0 auto;

}
.service__heading h1::before{
    content: "";
    display: flex;
    border-bottom: 4px solid var(--secondary-color) ;
    width: 80px;
    position: absolute;
    right:-75px;
    bottom: 30px;
}
.service__heading h1::after{
    content: "";
    display: flex;
    border-bottom: 4px solid var(--secondary-color) ;
    width: 80px;
    position: absolute;
    left:-75px;
    bottom: 30px;
}
.service__heading p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    width: 70%;
    margin: 0 auto;
}
.grid{
    max-width: 1200px;
    height: auto;
    display: grid;
    align-items: stretch;
    gap: 20px;
    row-gap: 70px;
    margin: 80px auto; 
}
.four__cols{
    grid-template-columns: repeat(4, 1fr);
}
.three__cols{
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 80px;
}

.grid__item{
    flex: 1;
    height: 400px;
    
}
.grid__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid__card{
    width: 250px;
    height: auto;
    padding: 25px 15px;
    margin: 0 auto;
    transform: translateY(-180px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 2px 25px 25px -13px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 25px 25px -13px rgba(0,0,0,0.3);
    box-shadow: 2px 25px 25px -13px rgba(0,0,0,0.3);
    background: #fff;
    color: var(--secondary-color);
    transition: all 0.3s ease-in;
    
}
.grid__card:hover{
    background-color: var(--primary-light) ;
    color: var(--secondary-color);
}
.three__cols .grid__card{
    width: 300px;
}
.grid__card span{
    background-color: rgba(255, 255, 0, 0.816);
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: grid;
    place-content: center;
    border-radius: 50%;

}
.grid__card h3{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 10px 0;
}
.grid__card p{
    font-family: 'Alata',sans-serif;
}

.services{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 100px auto;
   
}
.service__text{
    flex-basis: 50%;
}
.service__text h1{
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    font-weight:500;
    color: var(--secondary-color);
    margin-bottom: 25px;
}
.service__text p{
    font-size: 18px;
    font-family: 'Alata',sans-serif;
    color: var(--secondary-color);
    line-height: 1.6;
}
.service__text a{
    padding: 15px 20px;
    display: inline-block;
    width: 150px;
    margin: 20px 0;
    font-size: 18px;
}
.service__text span{
    padding: 15px 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 20px;
}
.service__image{
    flex-basis: 50%;
    display: flex;
    gap: 8px;

}
.service__image img{
    width: 300px;
    height: 400px;
    flex-basis: 50%;
    object-fit: cover;
}
.image2{
    transform: translateY(-50px);
}
@media only screen and (max-width:1250px){
    .services{
        padding: 0 20px;
        flex-direction: column;
        row-gap: 80px;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        
    }
    .grid__card{
        width: 350px;
        transform: translateY(-150px);
    }
}
@media only screen and (max-width:900px){
    .services{
        flex-direction: column;
        row-gap: 80px;
    }
    .service__heading p{
        font-size: 16px;
        width: 90%;
    }
    .grid__card{
        width: 300px;
        transform: translateY(-150px);
    }
    
}
@media only screen and (max-width: 700px){
    .grid__card{
        width: 250px;
    }
    .service__image img{
        width: 250px;
        
    }
}
@media only screen and (max-width:600px){
    .image1{
        display: none;
    }
    .service__image img{
        width: 100%;
        height: 100%;
        flex-basis: 50%;
        object-fit: cover;
    }
    .service__heading h1{
        font-size: 30px;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
   .grid__card{
        width: 350px;

    } 
}
@media only screen and (max-width: 450px){
    .grid__card{
        width: 300px;

    }
    .service__heading h1{
        font-size: 28px;
        width: 180px;
    }
    .service__heading h1::before{
        width: 50px;
        right:-50px;
        bottom: 10px;
    }
    .service__heading h1::after{
        width: 50px;
        left:-50px;
        bottom: 10px;
    }
}