.homepage{
    max-width: 100%;
    background-color: #fff;
    position: relative;
}

.card-wrapper{
    width: 100%;
    margin: 30px 0;
    overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    scroll-snap-type: x mandatory;
    
}
.card-wrapper::-webkit-scrollbar {
    display: none;
}
  

.card-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    
}
.card__heading{
    text-align: center;
    color: #333;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    max-width: 500px;
    margin: 50px auto;
}

.content-wrapper{
    max-width: 1250px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    
}

.image-container{
    flex-basis: 40%;
    min-width: 400px ;
    height: 100%;
    height: 650px;
    overflow: hidden; 
}
.image-container img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}
.text-container{
    flex-basis: 35%;
    padding: 50px 0;
}
.text-container h3{
    font-size: 40px;
    color: var(--secondary-color);
    padding-bottom: 35px;
    max-width: 90%;
}
.text-container p{
    font-size: 16px;
    font-family: 'Alata', sans-serif;
    color: var(--secondary-color);
    margin-bottom: 20px;
    line-height: 1.4;
    text-align: justify;
}
.text-container a{
    margin: 30px 0;
    font-size: 14px;
    padding: 15px 25px;
}

.company-head{
    padding: 15px 0 25px 0;
    font-size: 18px;
}
.company{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.company span{
    max-width: 120px;
    height: 50px;
    display: inline-block;
    
}
.company span img{
    width: 100%;
    height: 100%;
}
.trucking{
    max-width: 100%;
    height: 650px;
    background: linear-gradient(to right,rgba(225,225,225, 0.9),rgba(0,0,0, 0.7) ),url(../../assets/truck1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 30px 0;
    
}
.trucking-content{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 50px 0 30px 0;
    color: #fff;
}
.trucking-content h2{
    color: var(--secondary-color);
    font-size: 40px;
    max-width: 400px;
    padding-bottom: 25px;
}
.trucking-content p{
    font-size: 16px;
    max-width:600px ;
    color: var(--secondary-color);
    font-family: 'Alata',sans-serif;
    text-align: justify;
    padding-bottom: 20px;
    line-height: 1.4;
}
.trucking-content a{
    font-size: 14px;
    padding: 15px 25px;
}

#contact{
    max-width: 100%;
    background-color: #fff;
}
.link-toTop{
    position: fixed;
    bottom: 30%;
    right: 20px;
    color: var(--primary-color);
    font-size: 35px;
    transition: all 0.5s ease-in;
}
.link-toTop:hover{
    transform: rotate(360deg) scale(1.2);
    color: rgba(8, 95, 8, 0.713);
}


@media only screen and (max-width:1250px){
    .content-wrapper{
        margin: 0 20px;
        gap:50px;
    }

    .text-container{
        padding: 25px 0;
    }
    .text-container h3{
        max-width: 100%;
    }
    .image-container{
        flex-basis: 40%;
        width: 350px ;
        
    }
    .trucking-content{
        margin: 0 20px ;
    }
}

@media only screen and (max-width:900px){

    .content-wrapper{
        flex-direction: column-reverse;
        padding: 35px ;
        gap: 20px;
    }
    .image-container{
        display: none;
        
    }
 
    .content-container{
        height: auto;
    }

    .text-container h3{
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        
    }
    .company-head{
        text-align: center;
    }
    .company{
        justify-content: space-around;
    }
    .company span{
        max-width: 80px;
        height: 40px;
        display: inline-block;
        
    }
    .trucking-content{
        text-align: center;
    }
    .trucking-content p{
        margin: 0 auto;
    }
    .trucking-content h2{
        margin: 0 auto ;

    }
   
    .trucking{
        background-position: right center;
    }
    #contact{
        padding: 0 20px;
       
    }
}

@media only screen and (max-width:600px){
    .card__heading{
        font-size: 25px;
        max-width: 300px;
        
    }
    .content-wrapper{
        padding: 0 20px;
    }
    .company span{
        width: 80px;
        flex-grow: 2;
    }
    .text-container{
        padding: 20px 0;
    }
    .text-container h3{
        font-size: 25px;
    }
    .trucking-content h2{
        font-size: 25px;
        padding-bottom: 20px;
    }
    .trucking-content p{
        padding-bottom: 15px;
    }
    .trucking-content a{
        margin-top: 15px;
    }

}
