.contact-wrapper{
    max-width: 1400px;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
    
}


.form-control{
    flex-basis: 60%;
    height: auto;
    padding: 30px 50px 50px ;
    background: #fff;
}
.contact-info{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    padding: 30px 20px;
    background: linear-gradient(rgba(29, 138, 25, 0.4), rgba(35, 187, 29, 0.8)), url(../../assets/map.jpg);
    
}
.contact-info address div{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    
}
.contact-info address small a, .contact-info address small{
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    color: #333;
    color: var(--secondary-color);
    text-decoration: none;
}
.contact-info address div span{
    display: grid;
    place-content: center;
    background: var(--primary-color);
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    font-size: 25px;
}
.socials{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socials a{
    text-decoration: none;
    color: var(--secondary-color); 
    font-size: 25px;
    transition: all 0.5s ease-in;
}
.socials a:hover{
    color: var(--primary-color); 
    transform: scale(1.2);
}
.form-control h2, .contact-info h2 {
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    color: var(--secondary-color);
    text-align: center;
    margin: 15px;
}

.form-control form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.form-control form label{
    color: var(--seccondary-color) ;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}


.form-control form input, 
.form-control form textarea{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--seccondary-color) ;
    background: #fff;
    display: block;
    margin-bottom: 20px;
    resize: none;


}
.form-control form input:focus,
.form-control form textarea:focus{
    outline: 0;
}
.form-control form input::placeholder, 
.form-control form textarea::placeholder{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);

}
.form-control form textarea{
    margin-bottom: 30px;
    height: 100px;
}

.form-btn{
    background-color: var(--primary-color);
    color: var(--seccondary-color);
    padding: 15px 35px;
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    box-shadow: -15px 20px 8px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


}
.form-btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
}

@media only screen and (max-width:1400px){
    .contact-wrapper{
        max-width: 1000px;
    }

}
@media only screen and (max-width:700px){
    .form-control{
        padding: 35px;
    }
    .form-control form input{
        margin-bottom: 10px;
    }
    .contact-wrapper{
        flex-direction: column;
        margin: 45px 20px;
        max-width: 100%;
    }

}
@media only screen and (max-width:320px){
    .form-control{
        padding: 25px;
    }
    .form-control form input{
        margin-bottom: 5px;
    }
    .form-control form textarea{
        height: 80px;
        margin-bottom: 20px;
    }

}


  