.header{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 70px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../assets/slideimage2.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.head-content{ 
    max-width: 1400px;
    margin: 0px auto 50px;
    padding: 80px 0;
}
.head-content h1{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 700;

}
.head-content p{
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0;
    max-width: 550px;
    line-height: 1.6;
}


@media only screen and (max-width: 1250px){
    .head-content{
        margin-left: 20px;
    }
    .head-content h1{
        font-size: 80px;
    }

}
@media only screen and (max-width: 980px){

    .head-content h1{
        font-size: 70px;
    }

}
@media only screen and (max-width:600px){
    .head-content h1{
        font-size: 50px;
    }

    .head-content p{
        margin-top: 20px;
    }

    .head-content{
        margin: 90px auto 50px;
        text-align: center;   
        padding: 0 15px;
    }
 
    .header{
        background-position: center;
        padding:70px 0 0 0;

    }
    .track-link{
        padding: 10px;
    }
}
@media only screen and (max-width:400px){
    .head-content h1{
        font-size: 35px;
    
    }

}