@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@200;300;400;600;700&display=swap');

:root{
  --secondary-color: #362a01;
  --primary-color: #e9c132;
  --primary-light: #f0db91;
  --tertiary-color: #3D3E47;
  --accent-color: #4D5061;
  --dark-color: #080708;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  position: relative;
  font-family: 'Alata', sans-serif;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
}
.btn{
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 16px;
}
.track-link{
    display: inline-block;
    margin-top: 30px;
    padding: 25px;
    width: 200px;
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: -15px 20px 8px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

.track-link:hover{
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}
.btn:focus{
  border: none;
}
@media only screen and (max-width:600px){

  .track-link{
    padding: 10px;
  }
}