/* .slider__viewport{
    width: 100vw;
    max-width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../assets/image-2.jpg);
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    
} */
.content{ 
    max-width: 1200px;
    margin: 100px auto;
    padding-bottom: 80px;
}
.content h1{
    color: #FFF;
    font-size: 80px;
    font-weight: 600;

}
.content p{
    color: #fff;
    font-size: 20px;
    margin: 25px 0;
    max-width: 550px;
    line-height: 1.6;
    font-weight: 300;
}
.form-wrapper{
    max-width: 500px;
    background: #ffffff36;
    backdrop-filter: blur(5px);
    padding: 30px;
 
}
.form-wrapper p{
    margin: 0 0 25px 0;
}


@media only screen and (max-width: 1250px){
    .content{
        margin-left: 20px;

    }

}
@media only screen and (max-width:600px){
    .content h1{
        font-size: 50px;

    }
    .content{
        margin: 50px auto;
        text-align: center;
        position: static;
        
    }
    .form-wrapper{
        max-width: 380px;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        z-index: 2;
        
    }
    .slider__viewport{
        background-position: center;

    }
}
@media only screen and (max-width:400px){
    .content h1{
        font-size: 30px;
    }

    .form-wrapper{
        max-width: 300px;
    
    }
}